* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: "Sansita Swashed", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232323;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 90%;
}

.subtitle {
  font-size: 1.25rem;
  color: #fafafa;
  width: 100%;
  margin-left: 1rem;
}

textarea {
  max-width: 400px;
  width: 90%;
  height: 300px;
  resize: none;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  outline: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.headerContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  max-width: 450px;
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  color: #fafafa;
}

.controlsContainer {
  display: flex;
  justify-content: center;
}

.controlBtn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fafafa;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.25rem;
}

#playBtn {
  background-color: #f20732;
  margin-right: 2rem;
}

#stopBtn {
  background-color: #0439d9;
}

@media (max-width: 500px) {
  .title {
    font-size: 3rem;
  }
}
