* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  min-height: 100%;
  max-width: 450px;
  font-family: "Sansita Swashed", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171717;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  width: 100%;
}

.subtitle {
  font-size: 1.25rem;
  color: #fafafa;
  width: 100%;
}

textarea {
  width: 100%;
  height: 300px;
  resize: none;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  outline: none;
  font-size: 1.25rem;
  font-weight: 500;
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  max-width: 450px;
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.title {
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
  color: #fafafa;
  margin-bottom: 2rem;
}

.audioSettingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.speedDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.controlTitle {
  color: #fafafa;
  font-size: 1.25rem;
  font-weight: 500;
}

.controlsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.controlBtn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fafafa;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.125rem;
}

#playBtn {
  background-color: #f20732;
}

#stopBtn {
  background-color: #0439d9;
}

@media (max-width: 500px) {
  .title {
    font-size: 3rem;
  }
}
